body{
    color: aliceblue;
    background-color: black;
}

/* for Navbar */
span{
    color: blue;
    font-weight: bolder;
    font-size: 30px;
    margin-right:400px ;
}
.navbar{
    position: relative;
    display: flex;
    justify-content: center;
     align-items: center;
    
}
.navbar ul{
    margin-left: 100px;
    display: flex;
}
.navbar ul li{
    
    list-style: none;
}
.navbar ul li a{
    font-weight: bold;
    padding:0px 10px;
    font-weight: bolder;
    color: rgb(187, 232, 232);
    font-size: 17px;
    text-decoration: none;
    margin: 10px;
}
#letterNews{
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(28, 204, 49);
}

/* Hover for navbar */
.navbar ul li a:hover{
    border-radius: 15px;
    padding: 5px 10px;
    color:rgb(90, 234, 234);
    background-color: gray;
}

/* h2 for welcome to my blog */
h2{
    margin-top: 60px;
    color:cyan;
    text-align: center;
}

/* now for our main container  */
.container{
    margin: auto;
    text-align: center;
    width:800px;
    margin-top: 40px;
}
.container h1{
    color:rgb(231, 231, 177);
    width:700px;
    font-size: 50px;
}
.img{
width:200px;
float: right;
margin-left: 100px;
}
.btn{
cursor: pointer;
padding: 5px;
color:aliceblue;
background-color: blue;
}
.btn2{
    cursor: pointer;
    padding:5px;
    color:aliceblue;
    background-color: green;
   }

   /* Hover for container element  */
   .btn:hover{
    background-color: rgb(80, 80, 254);
   }
   .btn2:hover{
    background-color: rgb(48, 180, 48);
   }

   /* for footer  */
   footer{
    margin:40px;
    
   display: flex;
   justify-content: center;
   align-items: center;
  }
  footer ul{
   display: flex;
   justify-content: center;
   align-items: center;
  }
  footer ul li{
   margin:10px;
   padding:0px 40px;
   list-style: none;
   font-size: 40px;
   font-weight: bolder;
  }
  